/* Styles for On Screen Keyboard */

.kb-char-selector-container {
  position: fixed;
  z-index: 199500; /* same as popup */
  width: 320px;
  height: 264px;
  left: 0px;
}

.kb-char-selector-wrapper {
}

.kb-char-selector-scroller {
  position: absolute;
  top: 0px;
  padding: 0px;
  max-height: 264px;
  overflow: hidden;
}

.kb-char-selector-content {
  margin-top:72px;
}

.kb-char-selector-column {
  width: 320px;
  height: 48px;
}

.kb-char-selector-element{
  width:10%;
  height:48px;
  display:inline-block;
  float:left;
}

.kb-char-selector-element.kb-text{
  line-height:48px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  margin-right: -1px;
  margin-bottom: -1px;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  color: #FFF;
  background: rgba(51,51,51,0.85);
}

.kb-char-selector-element .kb-span{
  position: relative;
}

.kb-char-selector-element .kb-img{
  position: relative;
  width: 100%;
  height: 100%;
}

.kb-char-selector-element.kb-selected-char .kb-span{
  left: -25%;
  top: -150%;
  color: red;
}

.kb-char-selector-element.kb-selected-char .kb-img{
  width: 150%;
  height: 150%;
}

.kb-char-selector-element.kb-char-on .kb-img{
  position: relative;
  width: 70%;
  height: 70%;
  top:15%;
  left:15%;
}

.kb-char-selector-element.kb-char-lock .kb-img{
  position: relative;
  width: 50%;
  height: 50%;
  top:25%;
  left:25%;
}

/* Landscape rows */
.kb-char-select-container.landscape.Pixi {
  width: 400px;
}

.kb-char-selector-column.landscape.Pixi {
  width: 400px;
}

.kb-char-selector-container.landscape.Pre {
  width: 480px;
}

.kb-char-selector-column.landscape.Pre {
  width: 480px;
}
